<html lang="zh">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="http://h5.sinaimg.cn">
    <link rel="dns-prefetch" href="http://u1.sinaimg.cn">
    <link rel="dns-prefetch" href="http://ww1.sinaimg.cn">
    <link rel="dns-prefetch" href="http://ww2.sinaimg.cn">
    <link rel="dns-prefetch" href="http://ww3.sinaimg.cn">
    <link rel="dns-prefetch" href="http://ww4.sinaimg.cn">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="http://u1.sinaimg.cn/upload/h5/img/apple-touch-icon.png">
    <link rel="icon" sizes="any" mask="" href="http://h5.sinaimg.cn/upload/2015/05/15/28/WeiboLogoCh.svg" color="black">
    <title>发微博</title>
    <meta id="viewport" name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <script>var _loadStart = new Date().getTime();</script>
    <link href="//h5.sinaimg.cn/weibocn/v6/css/lib/base-d1c7f99e51e81f2aec863e6539d97dbb.css" type="text/css"
          rel="stylesheet">
    <link href="//h5.sinaimg.cn/weibocn/v6/css/card/cards-9babdfd7da6f88b20fc47e0d79a2977d.css" type="text/css"
          rel="stylesheet">
    <link href="//h5.sinaimg.cn/weibocn/v6/css/mod/mods.all-26509c7157fd8de7e00321948c25c6c3.css" type="text/css"
          rel="stylesheet">
    <script src="//h5.sinaimg.cn/weibocn/v6/js/lib/jquery2-3a24ecb46cb1716600660086a85ad0b0.js"></script>
    <script src="//h5.sinaimg.cn/weibocn/v6/js/tpl/mod/mods.all-baa8aa348c8f1d67a4f598567ef08f83.js"></script>
    <script src="//h5.sinaimg.cn/weibocn/v6/js/mod/mods.all-1c3e055e9370826554c440995094e0e4.js"></script>
    <script src="//h5.sinaimg.cn/weibocn/v6/js/card/cards-cdf50ca5b787524a6498be83caa4dbe0.js"></script>
    <script src="//h5.sinaimg.cn/weibocn/v6/js/act/acts-19eed856c4aa27ed4a48236e36fd78ae.js"></script>
</head>
<body style="padding-top:45px; overflow-x:hidden;">
<div id="box" class="container stage-publisher">
    <header class="module-topbar" id="boxId_1474419620808_1" style="position: fixed;"><a class="fl txt-link"
                                                                                         href="javascript:history.go(-1);"
                                                                                         data-node="back" title="取消"
                                                                                         data-act-type="hover">取消</a> <a
            class="fr txt-link disable" href="javascript:;" data-node="send" title="发送" data-act-type="hover">发送</a>

        <div class="title-group"><h1 class="title txt-cut">发微博</h1>

            <h2 class="sub-title">齐慧强2008</h2></div>
    </header>
    <article class="module-publisher" id="boxId_1474419620808_2">
        <div class="txt-publisher-wrapper"><textarea id="txt-publisher" name="content" class="J-textarea txt-publisher"
                                                     placeholder="分享新鲜事..."></textarea></div>
        <div class="wrapper-info-publisher">
            <div class="info-publisher selfclear"><a class="icon_wbtype fr" href="javascript:;"><span
                    class="iconf iconf_compose_public"></span><span class="J-wbtype">公开</span></a><span
                    class="J-limit fr"></span>
                <aside class="textoverflow pos"><a class="icon_pos" href="javascript:;"><span
                        class="iconf iconf_compose_locateready"></span><span class="pos-info-publisher">插入位置</span></a>
                </aside>
            </div>
        </div>
        <section class="action-publisher layout-box line-bottom">
            <div class="box-col" style="position:relative;"><span class="iconf iconf_compose_picture"></span><input
                    class="picupload" name="fileselect[]" type="file" accept="image/*"></div>
            <div class="box-col"><span class="iconf iconf_compose_mention"></span></div>
            <div class="box-col"><span class="iconf iconf_compose_trend"></span></div>
            <div class="box-col"><span class="iconf emotion iconf_compose_emoticon"></span></div>
            <div class="box-col"><a class="iconf iconf_compose_longweibo" href="/mblog/longMblog"></a></div>
        </section>
        <aside class="J-faceMain wrapper-face" style="display: none;">
            <div class="facewrapper">
                <div class="scroller tab-face" style="width: 1440px;">
                    <div id="face_1" class="content-tab-face selfclear" style="width: 360px;"><i data-face="→_→"
                                                                                                 class="face_1 face icon_0"></i><i
                            data-face="[微笑]" class="face_1 face icon_1"></i><i data-face="[嘻嘻]"
                                                                               class="face_1 face icon_2"></i><i
                            data-face="[哈哈]" class="face_1 face icon_3"></i><i data-face="[爱你]"
                                                                               class="face_1 face icon_4"></i><i
                            data-face="[挖鼻]" class="face_1 face icon_5"></i><i data-face="[吃惊]"
                                                                               class="face_1 face icon_6"></i><i
                            data-face="[晕]" class="face_1 face icon_7"></i><i data-face="[泪]"
                                                                              class="face_1 face icon_8"></i><i
                            data-face="[馋嘴]" class="face_1 face icon_9"></i><i data-face="[抓狂]"
                                                                               class="face_1 face icon_10"></i><i
                            data-face="[哼]" class="face_1 face icon_11"></i><i data-face="[可爱]"
                                                                               class="face_1 face icon_12"></i><i
                            data-face="[怒]" class="face_1 face icon_13"></i><i data-face="[汗]"
                                                                               class="face_1 face icon_14"></i><i
                            data-face="[害羞]" class="face_1 face icon_15"></i><i data-face="[困]"
                                                                                class="face_1 face icon_16"></i><i
                            data-face="[钱]" class="face_1 face icon_17"></i><i data-face="[偷笑]"
                                                                               class="face_1 face icon_18"></i><i
                            data-face="[笑cry]" class="face_1 face icon_19"></i><i data-face="[doge]"
                                                                                  class="face_1 face icon_20"></i><i
                            data-face="[喵喵]" class="face_1 face icon_21"></i><i data-face="[酷]"
                                                                                class="face_1 face icon_22"></i><i
                            data-face="[衰]" class="face_1 face icon_23"></i><i data-face="[闭嘴]"
                                                                               class="face_1 face icon_24"></i><i
                            data-face="[鄙视]" class="face_1 face icon_25"></i><i data-face="[色]"
                                                                                class="face_1 face icon_26"></i><i
                            data-face="[鼓掌]" class="face_1 face icon_27"></i></div>
                    <div id="face_2" class="content-tab-face selfclear" style="width: 360px;"><i data-face="[悲伤]"
                                                                                                 class="face_2 face icon_0"></i><i
                            data-face="[思考]" class="face_2 face icon_1"></i><i data-face="[生病]"
                                                                               class="face_2 face icon_2"></i><i
                            data-face="[亲亲]" class="face_2 face icon_3"></i><i data-face="[怒骂]"
                                                                               class="face_2 face icon_4"></i><i
                            data-face="[太开心]" class="face_2 face icon_5"></i><i data-face="[白眼]"
                                                                                class="face_2 face icon_6"></i><i
                            data-face="[右哼哼]" class="face_2 face icon_7"></i><i data-face="[左哼哼]"
                                                                                class="face_2 face icon_8"></i><i
                            data-face="[嘘]" class="face_2 face icon_9"></i><i data-face="[委屈]"
                                                                              class="face_2 face icon_10"></i><i
                            data-face="[吐]" class="face_2 face icon_11"></i><i data-face="[可怜]"
                                                                               class="face_2 face icon_12"></i><i
                            data-face="[睡]" class="face_2 face icon_13"></i><i data-face="[挤眼]"
                                                                               class="face_2 face icon_14"></i><i
                            data-face="[失望]" class="face_2 face icon_15"></i><i data-face="[顶]"
                                                                                class="face_2 face icon_16"></i><i
                            data-face="[疑问]" class="face_2 face icon_17"></i><i data-face="[困]"
                                                                                class="face_2 face icon_18"></i><i
                            data-face="[感冒]" class="face_2 face icon_19"></i><i data-face="[拜拜]"
                                                                                class="face_2 face icon_20"></i><i
                            data-face="[黑线]" class="face_2 face icon_21"></i><i data-face="[阴险]"
                                                                                class="face_2 face icon_22"></i><i
                            data-face="[互粉]" class="face_2 face icon_23"></i><i data-face="[心]"
                                                                                class="face_2 face icon_24"></i><i
                            data-face="[伤心]" class="face_2 face icon_25"></i><i data-face="[猪头]"
                                                                                class="face_2 face icon_26"></i><i
                            data-face="[熊猫]" class="face_2 face icon_27"></i></div>
                    <div id="face_3" class="content-tab-face selfclear" style="width: 360px;"><i data-face="[兔子]"
                                                                                                 class="face_3 face icon_0"></i><i
                            data-face="[握手]" class="face_3 face icon_1"></i><i data-face="[作揖]"
                                                                               class="face_3 face icon_2"></i><i
                            data-face="[赞]" class="face_3 face icon_3"></i><i data-face="[耶]"
                                                                              class="face_3 face icon_4"></i><i
                            data-face="[good]" class="face_3 face icon_5"></i><i data-face="[弱]"
                                                                                 class="face_3 face icon_6"></i><i
                            data-face="[NO]" class="face_3 face icon_7"></i><i data-face="[ok]"
                                                                               class="face_3 face icon_8"></i><i
                            data-face="[haha]" class="face_3 face icon_9"></i><i data-face="[来]"
                                                                                 class="face_3 face icon_10"></i><i
                            data-face="[威武]" class="face_3 face icon_11"></i><i data-face="[鲜花]"
                                                                                class="face_3 face icon_12"></i><i
                            data-face="[钟]" class="face_3 face icon_13"></i><i data-face="[浮云]"
                                                                               class="face_3 face icon_14"></i><i
                            data-face="[飞机]" class="face_3 face icon_15"></i><i data-face="[月亮]"
                                                                                class="face_3 face icon_16"></i><i
                            data-face="[太阳]" class="face_3 face icon_17"></i><i data-face="[微风]"
                                                                                class="face_3 face icon_18"></i><i
                            data-face="[下雨]" class="face_3 face icon_19"></i><i data-face="[给力]"
                                                                                class="face_3 face icon_20"></i><i
                            data-face="[神马]" class="face_3 face icon_21"></i><i data-face="[围观]"
                                                                                class="face_3 face icon_22"></i><i
                            data-face="[话筒]" class="face_3 face icon_23"></i><i data-face="[奥特曼]"
                                                                                class="face_3 face icon_24"></i><i
                            data-face="[草泥马]" class="face_3 face icon_25"></i><i data-face="[萌]"
                                                                                 class="face_3 face icon_26"></i><i
                            data-face="[囧]" class="face_3 face icon_27"></i></div>
                    <div id="face_4" class="content-tab-face selfclear" style="width: 360px;"><i data-face="[织]"
                                                                                                 class="face_4 face icon_0"></i><i
                            data-face="[礼物]" class="face_4 face icon_1"></i><i data-face="[喜]"
                                                                               class="face_4 face icon_2"></i><i
                            data-face="[围脖]" class="face_4 face icon_3"></i><i data-face="[音乐]"
                                                                               class="face_4 face icon_4"></i><i
                            data-face="[绿丝带]" class="face_4 face icon_5"></i><i data-face="[蛋糕]"
                                                                                class="face_4 face icon_6"></i><i
                            data-face="[蜡烛]" class="face_4 face icon_7"></i><i data-face="[干杯]"
                                                                               class="face_4 face icon_8"></i><i
                            data-face="[男孩儿]" class="face_4 face icon_9"></i><i data-face="[女孩儿]"
                                                                                class="face_4 face icon_10"></i><i
                            data-face="[肥皂]" class="face_4 face icon_11"></i><i data-face="[照相机]"
                                                                                class="face_4 face icon_12"></i><i
                            data-face="[浪]" class="face_4 face icon_13"></i><i data-face="[沙尘暴]"
                                                                               class="face_4 face icon_14"></i></div>
                </div>
            </div>
            <ul class="nav-tab-face selfclear">
                <li class="current">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </aside>
        <div class="J-preview hid" style="max-height: 348px;">
            <div class="add-picture iconf iconf_compose_picadd" style="font-size: 106px;"><input disabled="true"
                                                                                                 name="pic" type="file"
                                                                                                 accept="image/*"
                                                                                                 style="width: 106px; height: 106px;">
            </div>
        </div>
    </article>
    <div id="boxId_1474419620808_3"></div>
</div>
<script>window.$config = {'stage': 'publisher'};
window.$render_data = {
    'stage': {
        'publisher': [{
            "mod_type": "mod\/topbar",
            "title": {"txt": "\u53d1\u5fae\u535a", "txt_sub": "\u9f50\u6167\u5f3a2008"},
            "btn": {
                "left": {"title": "\u53d6\u6d88", "type": "back", "url": "javascript:history.go(-1);"},
                "right": {"title": "\u53d1\u9001", "type": "send", "disable": 1}
            },
            "fixed": 1,
            "transparent": 0
        }, {"mod_type": "mod\/publisher", "pubType": 0, "limit": 140, "params": {"annotations": null}, "mblogList": []}]
    },
    'common': {
        "cacheHit": 0,
        "isLogin": true,
        "deviceType": "Android",
        "browserType": "Safari",
        "online": true,
        "wm": null,
        "st": "505681",
        "isInClient": 0,
        "isWechat": 0,
        "hideHeaderBanner": 0,
        "request_key": "06034164bbee707ae299374dc22214f8",
        "uid": "1799903964",
        "title": "\u53d1\u5fae\u535a",
        "params": [],
        "ctrl": "mblog\/action",
        "stage": "publisher"
    }
};</script>
<script src="//h5.sinaimg.cn/weibocn/v6/js/brick-76ae01305b992768a42130318554554c.js"></script>
<script src="//h5.sinaimg.cn/weibocn/v6/js/boot-0d4d7c13b7e67ad96bf6f83ee93d2e86.js"></script>
<script>require.config({
    baseUrl: '//h5.sinaimg.cn/weibocn/v6/js/',
    paths: {
        'jquery': '//h5.sinaimg.cn/weibocn/v6/js/lib/jquery2-3a24ecb46cb1716600660086a85ad0b0.js',
        'card/cards': '//h5.sinaimg.cn/weibocn/v6/js/card/cards-cdf50ca5b787524a6498be83caa4dbe0.js',
        'act/acts': '//h5.sinaimg.cn/weibocn/v6/js/act/acts-19eed856c4aa27ed4a48236e36fd78ae.js',
        'tpl/mod/mods.all': '//h5.sinaimg.cn/weibocn/v6/js/tpl/mod/mods.all-baa8aa348c8f1d67a4f598567ef08f83.js',
        'mod/mods.all': '//h5.sinaimg.cn/weibocn/v6/js/mod/mods.all-1c3e055e9370826554c440995094e0e4.js',
        'ctrl/publisher': '',
        'core/lib/iscroll': '//h5.sinaimg.cn/weibocn/v6/js/core/lib/iscroll-533a8990c281d2d743b186bd4f83decc.js'
    }
});</script>
<script>require(['boot', 'jquery']);</script>
</body>
</html>