<%if (message&&message!="") {%>

 <div class="item">
        <div class="hd">
            <%if (from&&from=="i-send") {%>
            <p class="info">
                <a class="fn">To:<%=message.to_user.name%><span class="<%=message.to_user.sex%>tips"></span></a>
                <span class="meta"><time class="time"><%=message.friendly_create_at%></time></span>
            </p>
					<span class="action">
						<a class="btn i-msg"  onclick="setParam_To_Private_Msg_SubmitBtn('<%=message.to_user._id%>')">再回一次</a>
					</span>
            <%}else{%>
            <p class="info">
                <a class="fn"><%=message.from_user.name%><span class="<%=message.from_user.sex%>tips"></span></a>
                <span class="meta"><time class="time"><%=message.friendly_create_at%></time></span>
            </p>
					<span class="action">
						<a class="btn i-msg"  onclick="setParam_To_Private_Msg_SubmitBtn('<%=message.from_user._id%>')">回复</a>
					</span>
            <%}%>
        </div>
        <div class="bd" style="margin-left:0px;">
            <p class="J_content"><%-message.content%></p>
            <%if (message.ref_content&&message.ref_content!="") {%>
            <div class="img-txt" >
                <div class="col-txt">
                    <div class="txt"><%-message.ref_content%></div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
<%}%>