<div id="form-0" class="form-pop bg-img" style="width: 100%; min-height: 238px;">
    <header class="header">
        <div class="sub-nav black"><span class="col-l"><button class="b-def" id="form-0-cancel">取消</button></span><span
                class="col-r"><button global-hot="save.addMood" class="b-act submit" id="form-0-submit" college_id="0"
                                      college_name="未设置" school_id="<%=current_school_id%>">发表
        </button></span>

            <h2 class="hd" id="form-0-title">说点什么吧</h2></div>
    </header>

    <!--<header class="header2"><a  id="form-0-cancel"  class="fn left iqq t_home"></a><h1>发表</h1> <a>发表</a>></header>-->
    <div class="form-wrap" style="position:relative;width:100%;">
        <div class="form-container" style="position:relative;width:100%;">
            <style>
                .water-mod-eimg .water-list, .water-mod-eimg .water-list li {
                    height: 145px;
                }
            </style>

            <div class="textView-wp">
                <div class="textarea-wp J_textareaWrapper"><textarea style="min-height:100px;" id="post_text"
                                                                     placeholder="说点什么吧"></textarea>

                    <div class="publisher-tags">
                        <i class="i-em" id="post_emotion" data-textoper="emoji"></i>
                        <span>标签:</span>
                        <a href="javascript:;" class="publisher-tag <%=type=='news'?'publisher-tag-select':''%>"
                           data-id="0" value="news">新鲜事</a>
                        <a href="javascript:;" class="publisher-tag <%=type=='mood'?'publisher-tag-select':''%>"
                           data-id="0" value="mood">心情</a>
                        <a href="javascript:;" class="publisher-tag <%=type=='biaobai'?'publisher-tag-select':''%>"
                           data-id="35" value="biaobai">表白</a>
                        <a href="javascript:;" class="publisher-tag <%=type=='ask'?'publisher-tag-select':''%>"
                           data-id="27" value="ask">问问</a>
                        <a href="javascript:;" class="publisher-tag <%=type=='friend'?'publisher-tag-select':''%>"
                           data-id="31" value="friend">邂逅</a>
                        <a href="javascript:;" class="publisher-tag <%=type=='other'?'publisher-tag-select':''%>"
                           data-id="35" value="other">其他</a>
<% if ((typeof(current_user) !== 'undefined')&&current_user.is_admin) { %>
 <a href="javascript:;" class="publisher-tag <%=type=='topic'?'publisher-tag-select':''%>"
                           data-id="35" value="allshow">全部显示</a>
<% }%>
</div>
                    <input type="hidden" id="post_type" value="<%=type%>"/>
                </div>
            </div>
        </div>


        <input type="hidden" id="is_redirect" value="false"/>

        <div>
            <div class="fileInput left" style="width:100px;float:left">
                <input type="file" name="upfile" id="upfile" class="upfile"
                       onchange="document.getElementById('upfileResult').innerHTML=this.value"/>
                <input class="myButton uploadbutton" type="button" value="上传图片"
                       onclick="document.getElementById('upfile').click()">
            </div>
            <div class="display-locate" style=" background: transparent; float:left;margin-top:0px;">匿名<input
                    type="checkbox" id="secret_nicked" class="locate-area txt-hidden niked" placeholder="TA的名字"
                    data-oper="delete"></div>

            <img id="thumbimage" style="max-width:100%;height:auto;"/>
            <script src="/public/front/javascripts/localResizeIMG.js" type="text/javascript"></script>
            <!-- mobileBUGFix.js 兼容修复移动设备 -->
            <script src="/public/front/javascripts/mobileBUGFix.mini.js" type="text/javascript"></script>
        </div>
		<div style="color: #919191;
font-size: 12px;margin-top:10px;float:left">
<span style="color:red">上传图片有问题</span>，可点击右上方按钮从浏览器打开进行操作
	</div>
    </div>


    <script>
        $(function () {
            $("#post_emotion").SinaEmotion($('#post_text'));
        });
        $(".publisher-tag").click(function () {
            $(".publisher-tag-select").removeClass("publisher-tag-select");
            $(this).addClass("publisher-tag-select");
            $("#post_type").val($(this).attr("value"));
            if ($(this).attr("value") == "friend") {
                $("#post_text").attr("placeholder", "交友的留下你的微信号或者qq号吧，负责小编会移到其他版块");
            }
            if ($(this).attr("value") == "biaobai") {
                $("#post_text").attr("placeholder", "表白一定要有表白对象的名字，最好要有年纪和专业，不然小编会移到新鲜事版块");
            } else {
                $("#post_text").attr("placeholder", "说点什么吧");
            }
        });
        var img = new Image();
        var imagedata;

        $("#main").find("#form-0").find('input:file').localResizeIMG({
            width: 400,
            quality: 0.6,
            success: function (result) {
                img.src = result.base64;
                imagedata = result.base64;
                $("#thumbimage").attr("src", result.base64);
                //$.post('/post/img',{formFile :result.base64},function(data){

                //  });
            }
        });
    </script>







