<div id="form-0" class="form-pop bg-img" style="width: 100%; min-height: 238px;display:none" >
    <header class="header">
        <div class="sub-nav black"><span class="col-l"><button class="b-def" id="form-0-cancel">取消</button></span><span
                class="col-r"><button global-hot="save.addMood" class="b-act submit" id="form-0-submit" college_id="0" college_name="未设置" school_id="<%=current_school_id%>">发表
        </button></span>

            <h2 class="hd" id="form-0-title">写表白</h2></div>
    </header>
    <div class="form-wrap" style="position:relative;width:100%;">
        <div class="form-container" style="position:relative;width:100%;">
            <style>
                .water-mod-eimg .water-list, .water-mod-eimg .water-list li {
                    height: 145px;
                }
            </style>
            <div class="form-plugins J_ugcPlugins" style="margin-bottom: 10px;">
                <div class="display-locate" id="college-select"><span class="locate-area txt-hidden" data-oper="delete"><i
                        class="icon-32-locate click"></i><span id="college_set">TA所在学院</span></span><i
                        class="go-locate v-ln" data-oper="more"></i></div>
                <div class="display-locate"><input class="locate-area txt-hidden" id="confess_to" placeholder="TA的名字" data-oper="delete"
                                                   style="
    border: transparent;vertical-align: middle;max-width: 60px;
"></div>
               <div class="display-locate" style="
    background: transparent;
">匿名<input type="checkbox" id="confess_nicked" class="locate-area txt-hidden" placeholder="TA的名字" data-oper="delete" style="
    border: transparent;
    vertical-align: middle;
    /* max-width: 80px; */
    width: 20px;
    height: 30px;
"></div>
            </div>
            <div class="textView-wp">
                <div class="textarea-wp J_textareaWrapper"><textarea id="confess_text" placeholder="在这里大声说出你的爱…"></textarea>
                    <span class="reply-num" data-form="limit">140</span>
                </div>
            </div>
        </div>
    </div>
</div>
