<div class="item">
    <div class="hd">
        <p class="info">
            <a class="fn"><%=reply.from_user_name%><span class="mantips"></span></a>
            <span class="meta"><time class="time"><%=reply.friendly_create_at%></time></span>
        </p>
					<span class="action">
						<a class="btn  i-reply" tou_name="<%=reply.from_user_name%>" main_id="<%=reply._id%>"  tou_id="<%=reply.from_user_id%>" tou_sex="<%=reply.from_user_sex%>" data_id="<%=secret._id%>" reply_id="<%=reply._id%>">回复</a>
					</span>
    </div>
    <div class="bd" style="margin-left:0px;">
        <p class="J_content"><%=reply.content%></p>
        <% if (typeof(reply.children_list) !== 'undefined'&&reply.children_list.length>0) { %>
        <% reply.children_list.forEach(function(children_reply,index) { %>
            <p class="J_content i-reply"  tou_name="<%=children_reply.from_user_name%>" main_id="<%=children_reply.main_id%>"  tou_id="<%=children_reply.from_user_id%>" tou_sex="<%=children_reply.from_user_sex%>" data_id="<%=children_reply.secret_id%>" reply_id="<%=children_reply._id%>"><a class="fn" ><%=children_reply.from_user_name%><span class="womantips"></span></a>回复<a class="fn"><%=children_reply.to_user_name%><span class="womantips"></span></a>:<%=children_reply.content%></p>
        <%})%>
        <%}%>
    </div>
</div>
