<%if (secret&&secret!="") {%>
            <div class="feed dataItem" id="<%=secret._id%>">
                <div class="hd js-link load_detail" link="/secretdetail?id=<%=secret._id%>" link_id="<%=secret._id%>">
                    <p class="info ">
                        <a class="fn">
                            <% if (typeof(secret.user_nicked) !== 'undefined' &&secret.user_nicked) { %>
                            匿名用户
                            <% } else {  %>
                            <%=secret.user_name%>
                            <% } %>
                            <span class="womantips"> <%=secret.user_sex%></span></a>
                        <span class="meta"> <time class="time"><%=secret.friendly_create_at%></time></span>
                    </p>
                </div>
                <div class="bd  js-link load_detail" link_id="<%=secret._id%>" link="/secretdetail?id=<%=secret._id%>">
                    <p><%=secret.content%></p>
                </div>
                <div class="ft">
                    <div class="action flex">
                        <% if (typeof(current_user) !== 'undefined'&&current_user.is_admin==true) { %>
                        <a class="btn i-del" data_id="<%=secret._id%>">删除</a>
                        <% } %>
                        <a class="btn i-fav" data_id="<%=secret._id%>">收藏</a>
                        <a class="btn i-like" data_id="<%=secret._id%>">赞</a>
                        <a class="btn i-coms" data_id="<%=secret._id%>">评论</a>
                    </div>
                    <div class="min-comments" id="mimi-comments-261311" style="">
                        <% if (typeof(secret.like_count) !== 'undefined'&&secret.like_count>0) { %>
                        <p id="zan-<%=secret._id%>" class="i-like"><span><%=secret.like_count%></span>个人觉得很赞</p><b class="hr"></b>
                        <% }else{ %>
                        <p id="zan-<%=secret._id%>" style="display:none" class="i-like"><span><%=secret.like_count%></span>个人觉得很赞</p><b id="b-<%=secret._id%>" style="display:none" class="hr"></b>
                        <% } %>
                        <% if (typeof(secret.replylist) !== 'undefined') { %>
                            <% secret.replylist.forEach(function(reply,index) { %>
                             <%if (reply&&reply!=""&&reply.to_user_name!="") {%>
                             <p class="i-reply" tou_name="<%=reply.from_user_name%>" main_id="<%=reply.main_id%>"  tou_id="<%=reply.from_user_id%>" tou_sex="<%=reply.from_user_sex%>" data_id="<%=secret._id%>" reply_id="<%=reply._id%>">
                                 <a class="fn"><%=reply.from_user_name%><span class="mantips"></span>
                                 </a>回复<a class="fn"><%=reply.to_user_name%><span class="mantips"></span></a>:<%=reply.content%></p>
                            <%}else{%>
                            <p class="i-reply" tou_name="<%=reply.from_user_name%>"  main_id="<%=reply._id%>"  tou_id="<%=reply.from_user_id%>" tou_sex="<%=reply.from_user_sex%>" data_id="<%=secret._id%>" reply_id="<%=reply._id%>">
                            <a class="fn"><%=reply.from_user_name%><span class="mantips"></span>
                            </a> :<%=reply.content%></p>
                            <%}%>
                           <% }) %>
                        <% } %>
                         <% if(typeof(secret.reply_count) !== 'undefined'&&secret.reply_count>6) { %>
                             <p><a class="load_detail js-link"  link_id="<%=secret._id%>" link="/secretdetail?id=<%=secret._id%>" >点击查看剩余的<%=secret.reply_count-6%>评论&gt;&gt;</a></p>
                        <% } %>
                    </div>
                </div>
            </div>
  <%}%>



