<%- include ../partial/header %>
<div id="container">
    <header class="header">
        <div id="sub_nav" class="sub-nav" data-showtopbar="1"><span class="col-l"><button
                data-hook="subNav-back"
                class="b-bak" ><a href="/discover">返回</a>
        </button></span><span class="col-r"><button  class="b-act js-link" link="/create_friend_board">我要交友
        </button></span>

            <div id="sub_tab" class="col-m"></div>
            <h2 id="sub_title" class="hd">交友信息</h2></div>
    </header>
    <div id="page-content" class="feed-page" style="display: block;">
        <div class="page-wrap" id="page-mine" style="display: block;">

            <div id="feed_list_cot_mine" class="_feed_list">
                <div class="comments">

                        <%- partial('../partial/friend_board_abstract', {collection:friend_boards, as:'friend_board'}) %>

                </div>
            </div>
            <section id="Page_wrapper">
                <div class="pagination">
                    <% if (current_page == 1||pages==0) { %>
                    <a href="javascript:void(0);" class="prev no">上一页</a>
                    <% } else { %>
                    <a href="/friend_borad?page=<%=current_page-1%>" class="next">上一页</a>
                    <% } %>
                    <% if (current_page == pages||pages==0) { %>
                    <a href="javascript:void(0);" class="prev no">下一页</a>
                    <% } else { %>
                    <a href="/friend_borad?page=<%=current_page+1%>" class="next">下一页</a>
                    <% } %>
                    <em></em></div>
            </section>
            <br><br>
        </div>
    </div>
</div>
<%- include ../partial/footer%>