<%- include ../partial/header %>
<div id="container">
    <header class="header">
        <div id="sub_nav" class="sub-nav" data-showtopbar="1"><span class="col-l"><button
                data-hook="subNav-back"
                class="b-bak" ><a href="/discover">返回</a>
        </button></span><span class="col-r"><button  class="b-act js-link" >
        </button></span>

            <div id="sub_tab" class="col-m"></div>
            <h2 id="sub_title" class="hd">本周<%=type=='secret'?'树洞':'表白'%>top100</h2></div>
    </header>
    <div id="page-content" class="feed-page" style="display: block;">
        <div class="page-wrap" id="page-feed" style="display: block;">
            <div id="feed_list_cot_ic">
                <div id="feed_list_cot_all" class="_feed_list">
                    <%- partial('../partial/post_abstract', {collection:posts, as:'post'}) %>
                </div>
            </div>
            <section id="Page_wrapper">
                <div class="pagination">
                    <% if (current_page == 1||pages==0) { %>
                    <a href="javascript:void(0);" class="prev no">上一页</a>
                    <% } else { %>
                    <a href="/discover/top100?page=<%=current_page-1%>&t=<%=type%>" class="next">上一页</a>
                    <% } %>
                    <% if (current_page == pages||pages==0) { %>
                    <a href="javascript:void(0);" class="prev no">下一页</a>
                    <% } else { %>
                    <a href="/discover/top100?page=<%=current_page+1%>&t=<%=type%>" class="next">下一页</a>
                    <% } %>
                    <em></em></div>
            </section>
            <br><br>
        </div>
    </div>
</div>
<%- include ../partial/footer%>