
<script src="/public/back/js/excanvas.min.js"></script>
<script src="/public/back/js/jquery.min.js"></script>
<script src="/public/back/js/jquery.ui.custom.js"></script>
<script src="/public/back/js/bootstrap.min.js"></script>
<script src="/public/back/js/jquery.flot.min.js"></script>
<script src="/public/back/js/jquery.flot.resize.min.js"></script>
<script src="/public/back/js/jquery.peity.min.js"></script>
<script src="/public/back/js/fullcalendar.min.js"></script>
<script src="/public/back/js/bootstrap-colorpicker.js"></script>
<script src="/public/back/js/bootstrap-datepicker.js"></script>
<script src="/public/back/js/jquery.uniform.js"></script>
<script src="/public/back/js/select2.min.js"></script>
<script src="/public/back/js/unicorn.js"></script>
<script src="/public/back/js/unicorn.form_common.js"></script>
<script src="/public/back/js/unicorn.dashboard.js"></script>
<script src="/public/back/js/layer.js"></script>

</body>
</html>
