<%- include ../partial/header %>
<style>
    .widget-title .buttons {
        float: right;
        margin: 8px 1px 0 0;
    }
</style>
<div id="content">
<div id="content-header">
    <h1>学校管理<span id="info" style="color:red;font-size: medium">每天上传前，一定先查看互动消息，发送完之后及时查看互动消息，能紧急的删除消息</span></h1>
    <div class="btn-group" style="width: auto;">
        <a class="btn btn-large tip-bottom" data-original-title="Manage Files" href="/back/collections"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Users"  href="/back/users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Comments"  href="/back/replies"><i class="icon-comment"></i></a>

    </div>
</div>
    <div id="price" style="margin-left: 20px; display: none">
      <div id="priceplus" style="display: inline-block"></div><input type="text" id="zhekou" placeholder="折扣 如0.9,不填为全价" style="display: inline-block;width: 200px;height: 15px"><input type="button" onclick="javascript:countresult();" style="display: inline-block;" value="最后价格计算"></div>
<div id="breadcrumb">
    <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="#" class="current">学校</a>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<div class="widget-box">
<div class="widget-title" style="height:70px">
                                <span class="icon">
                                    <i class="icon-th"></i>
                                </span>
    <h5>学校</h5>
    <div class="control-group" style="float:right; margin-top:5px">
        <div class="controls">
            <div class="select2-drop select2-with-searchbox select2-offscreen"
                 style="display: block;">
                <div class="select2-search"><input type="text" autocomplete="off" class="select2-input" tabindex="0"></div>
                <ul class="select2-results"></ul>
            </div>
            <select  name='region_id' id="region_id" style="display: none;">
                <option value="0">高校过滤
                </option>
                <option value="0">全部高校
                </option>
                <option value="-1">没有广告的学校
                </option>
                <option value="1">有广告的学校
                </option>

                <%regions.forEach(function(region,index) { %>
                <% if (region&&region!="") {%>
                <option value="<%=region.region_code%>"><%=region.name%>
                </option>
                <%}%>
                <% }) %>
            </select>


        </div>


    </div>


    <div class="buttons">
        <a href="javascript:void(0)" id="sendAll" class="btn btn-primary btn-mini">一键上传素材</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="getTargetSource" class="btn btn-primary btn-mini">目标模板获取</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="sendAll1" class="btn btn-primary btn-mini">替换广告得到目标模板</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="getCommentSource" class="btn btn-primary btn-mini">原始模板获取</a>
    </div>
    <div class="buttons">
        <a id="add-event"  href="/back/school/create" class="btn btn-success btn-mini"><i class="icon-plus icon-white"></i>添加学校</a>
    </div>
    <div class="buttons">
        <a id="delSchoolMessage"  href="javascript:void(0)" class="btn btn-success btn-mini"><i class="icon-plus icon-white"></i>删整个</a>
    </div>
    <div class="controls">
        <div class="select2-drop select2-with-searchbox select2-offscreen"
             style="display: block;">
            <div class="select2-search"><input type="text" autocomplete="off" class="select2-input" tabindex="１"></div>
            <ul class="select2-results"></ul>
        </div>
        <select  name='admin_id' id="admin_id" style="display: none;">
            <option value="0"> 管理员过滤
            </option>
            <option value="贺">贺
            </option>
            <option value="齐">齐
            </option>
            <option value="汪">汪
            </option>
            <option value="马">马
            </option>
            <option value="弋">弋
            </option>
        </select>

    </div>
   <!--  <div class="buttons">
        <a href="javascript:void(0)" id="previewAll" class="btn btn-primary btn-mini">一键预览</a>
    </div> -->
    <div class="buttons">
        <a href="javascript:void(0)" id="inputPreviewId" class="btn btn-primary btn-mini">设预览ID</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="inputArticleNum" class="btn btn-primary btn-mini">设文章数目</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="setSourceUrlFlag" class="btn btn-primary btn-mini">设原文链接</a>
    </div>
    <div class="buttons">
        <input type="file" id="uploadFile">
        <a href="javascript:void(0)" id="uploadFileButton" class="btn btn-primary btn-mini">上传</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="setGoodSoundIndex" class="btn btn-primary btn-mini">设好声音编号</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="setGoodSoundAll" class="btn btn-primary btn-mini">一键设好声音</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="setKeyContent" class="btn btn-primary btn-mini">设关键字内容</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="setKeyAll" class="btn btn-primary btn-mini">一键设关键字</a>
    </div>
    <!--  <div class="buttons">
        <a href="javascript:void(0)" id="pushAll" class="btn btn-primary btn-mini">一键发送</a>
    </div> -->
    <!--<div class="buttons">-->
        <!--<a href="javascript:void(0)" id="uploadPic_Today" class="btn btn-primary btn-mini">上传今日图片</a>-->
    <!--</div>-->
    <!--<div class="buttons">-->
        <!--<a href="javascript:void(0)" id="uploadPic_YesToday" class="btn btn-primary btn-mini">上传昨日图片</a>-->
    <!--</div>-->
    <div class="buttons">
    <a href="javascript:void(0)" id="uploadAllPic" class="btn btn-primary btn-mini">一键上传图片</a>
    </div>
    <div class="buttons">
        <a href="/back/school/tagreset" id="resetTag" class="btn btn-primary btn-mini">复位广告标记</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="deleteMulti" class="btn btn-primary btn-mini">删多条</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="deleteAll" class="btn btn-primary btn-mini">一键删</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="deleteSingle" class="btn btn-primary btn-mini">删单条</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" id="openMessage" class="btn btn-primary btn-mini">查看消息</a>
    </div>
</div>

<input  type="hidden" value="<%=TodayResourceCount%>" id="TodayResourceCount"/>
<input  type="hidden" value="<%=belong_group%>" id="belong_group"/>
<div class="widget-content nopadding">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>中文全称</th>
            <th>enname</th>
            <th>学生</th>
            <th>学院</th>
            <th>账链</th>
            <th>二维码／cookie</th>
            <!--  <th>公告</th> -->

            <th>树洞表白 <label class="checkbox inline">
                <input id="chk_record" type="checkbox">标记
            </label></th>

            <th>传素材</th>
            <th>预览</th>
            <th>消息处理</th>
            <th>推送消息</th>
            <th>设置关键字</th>
            <th>设置好声音</th>
            <th>广告标记</th>
            <th>消息删除</th>
            <th>修改</th>
        </tr>
        </thead>
        <tbody>
        <% schools.forEach(function(school,index) { %>
        <tr>
            <% if (school&&school!="") {%>
            <td><span style="font-size:10px"><%=school.cn_name%> [<%=school.admin%>,<%=school.wxacount%>](<%=school.fans%>)</span>
                <button style="font-size:8px" en_name="<%=school.en_name%>" onclick="javascript:mail('<%=school.en_name%>');"  class="btn btn-info mail  btn-mini">
                    mail
                </button>
                <button style="font-size:8px" en_name="<%=school.en_name%>" onclick="javascript:pricecount('<%=school.wx_account_name%>','<%=school.fans%>');"  class="btn btn-info mail  btn-mini">
                    price
                </button>
                <a style="font-size:8px" href="/back/photo_guess/index?en_name=<%=school.en_name%>" target="_blank">缘分</a>
                <a style="font-size:8px" href="/back/photo_guess/index?en_name=<%=school.en_name%>&type=zipai" target="_blank">自拍</a>

                <a style="font-size:8px" href="/back/postEx/index?req_type=all_no_common&type=shudong&en_name=<%=school.en_name%>" target="_blank">树洞</a>
                <a style="font-size:8px" href="/back/postEx/index?req_type=all_no_common&type=confess&en_name=<%=school.en_name%>" target="_blank">表白</a>
                <a style="font-size:8px" href="/back/postEx/index?req_type=all_no_commonEx&type=confess&en_name=<%=school.en_name%>&se=time" target="_blank">最新表白</a> <br>

                <a style="font-size:8px" href="/back/ershou/index?region_code=010&en_name=<%=school.en_name%>" target="_blank">二手</a>
            </td>
            <td><%=school.en_name%></td>
            <td><%=school.student_count%></td>
            <td><a style="font-size:8px" href="/back/colleges?school_id=<%=school._id%>">学院</a></td>
            <td><a style="font-size:8px" href="/back/school/wx_account?id=<%=school._id%>">编辑</a></td>
            <td><a style="font-size:8px" target="_blank" href="/back/school/erweima?&en_name=<%=school.en_name%>">二维码编辑</a>  <a  target="_blank" style="font-size:8px" href="/back/school/cookie?&en_name=<%=school.en_name%>">cookie编辑</a>
                <a style="font-size:8px" target="_blank" href="https://mp.weixin.qq.com?ss=ddd&s=<%=school.wx_account_name%>">插件扫码</a>
            </td>
            <!--    <td><a href="/back/school/board?id=<%=school._id%>">查看</a></td> -->

            <td ><a style="font-size:8px" target="_blank" href="/back/school/source_show?id=<%=school._id%>&type=secret&en_name=<%=school.en_name%>">查看</a> &nbsp <a  target="_blank"  href="/back/school/source_edit_show?id=<%=school._id%>&en_name=<%=school.en_name%>">编辑</a>


                <button style="font-size:8px" en_name="<%=school.en_name%>" id="uploadPic_<%=school.en_name%>" class="btn btn-info uploadPicSingle  btn-mini">
                    上传图片
                </button>

            </td>

            <td style=" text-align: center;">

                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>" class="btn btn-info send btn-mini">
                    传素材
                </button>


                <img id="loading_<%=school.en_name%>" style="display: none" src="/public/front/images/loading.gif"></td>
            <td style=" text-align: center;">
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_preview" class="btn btn-info preview btn-mini">
                    预览
                </button>
            </td>
            <td><a style="font-size:8px"  target="_blank" class="messageElement" href="/msg/<%=school.en_name%>">查看消息</a></td>
            <td style=" text-align: center;">
                <%if(   ((new Date()).getFullYear()+"_"+(new Date()).getMonth()+"_"+(new Date()).getDate()).toString()==
                ((new Date(school.last_push_at)).getFullYear()+"_"+(new Date(school.last_push_at)).getMonth()+"_"+(new Date(school.last_push_at)).getDate()).toString()
                ){%>
                <button en_name="<%=school.en_name%>" id="<%=school.en_name%>_push" class="btn btn-success btn-mini push">
                    已发送
                </button>
                <%}else{%>
                <button en_name="<%=school.en_name%>" onclick="javascript:void(0)" id="<%=school.en_name%>_push" class="btn btn-info push btn-mini">
                    未发送
                </button>
                <%}%>

                <img id="loading_<%=school.en_name%>" style="display: none" src="http://www.imanhua.com/template/default/images/sloading.gif"></td>
            <td style=" text-align: center;">
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_set_key" class="btn btn-info setkey btn-mini">
                    设关键字
                </button>
            </td>
            <td style=" text-align: center;">
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_set_good_sound" class="btn btn-info setsound btn-mini">
                    设好声音
                </button>
            </td>
            <td>
                <% if(typeof(school.active) !== 'undefined' && school.active==true){ %>
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_set_tag" class="btn btn-success   btn-mini">
                    有广告
                </button>
                <%}else{%>
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_set_tag" class="btn btn-info addTag  btn-mini">
                    没有广告
                </button>
                <%}%>


            </td>
            <td style=" text-align: center;">
                <button style="font-size:8px" en_name="<%=school.en_name%>" id="<%=school.en_name%>_del_message" class="btn btn-info deleteMessage btn-mini">
                    消息删除
                </button>

            </td>
            <td><a style="font-size:8px" href="/back/school/update?en_name=<%=school.en_name%>">修改</a></td>
            <%}%>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<div class='pagination' current_page='<%= current_page %>'>
    <ul>
        <% var base='/back/schools'%>
        <% var base_url = base + (base.indexOf('?') < 0 ? '?' : '&') + 'page='; %>
        <% if (current_page == 1) { %>
        <li class='disabled'><a>«</a></li>
        <% } else { %>
        <li><a href="<%= base_url %>1">«</a></li>
        <% } %>

        <%
        var page_start = current_page - 2 > 0 ? current_page - 2 : 1;
        var page_end = page_start + 4 >= pages ? pages : page_start + 4;
        %>
        <% if (page_start > 1) { %>
        <li><a>...</a></li>
        <% } %>

        <% for(var i = page_start; i <= page_end; i++) { %>
        <% if (i === current_page) { %>
        <li class='disabled'><a><%= i %></a></li>
        <% } else { %>
        <li><a href='<%= base_url + i %>'><%= i %></a></li>
        <% } %>
        <% } %>

        <% if (page_end < pages ) { %>
        <li><a>...</a></li>
        <% } %>

        <% if (current_page == pages) { %>
        <li class='disabled'><a>»</a></li>
        <% } else { %>
        <li><a href='<%= base_url + pages %>'>»</a></li>
        <% } %>
    </ul>
</div>

</div>
</div>
</div>
<div class="row-fluid">
    <div id="footer" class="span12">
        2012 ©校萌科技有限公司
    </div>
</div>
</div>
</div>
<%- include ../partial/footer%>
<script>
var previewId;
var keyName; //微信自动回复关键字名称
var key;     //关键字
var keyContent; //关键字自动回复内容
var goodSoundIndex;
var articleNum;
var sourceUrlFlag;
var fileType; //上传文件的类型
var array=new Array();
var pushindex=0;
$(".send").each(function(){
    array.push($(this).attr("en_name"));
});
$(".send").click(function(){
    sendSingle($(this).attr("en_name"));
});

$(".update_source").click(function(){
    updateRource_Single($(this).attr("en_name"));
});

$(".uploadPicSingle").click(function(){
    uploadPicSingle($(this).attr("en_name"));
});


$("#sendAll").click( function(){
            sendSingle("",0);
        }
);


$("#sendAll1").click( function(){
            sendSingle("");
        }
);



$("#uploadAllPic").click( function(){
            uploadPicSingle("",0);
        }
);

$("#resetTag").click( function(){
            resetTag("",0);
        }
);


$("#pushAll").click(function(){
    pushindex=0;
  $(".push").click();
});

$("#inputPreviewId").click(function(){
    previewId = prompt("预览微信ID快添!");
});
$("#inputArticleNum").click(function(){
    articleNum = prompt("默认文章数目为4，请填7以下的数目");
});
$("#setSourceUrlFlag").click(function(){
    if(confirm("设置每账号不同的原文链接吗？")){
        sourceUrlFlag = true;
    }
});

$("#uploadFileButton").click(function(){
    var fileObj = document.getElementById("uploadFile").files[0]; // 获取文件对象
    var FileController = "/back/uploadFile";                    // 接收上传文件的后台地址

    // FormData 对象

    var form = new FormData();
    form.append("file", fileObj);                           // 文件对象

    // XMLHttpRequest 对象
    var xhr = new XMLHttpRequest();

    xhr.open("post", FileController, true);
    xhr.onload = function () {
        alert("上传完成!");
    };

    xhr.send(form);
});

$(".preview").click(function(){
    previewMessage($(this).attr("en_name"));
});


function mail(mail) {

    $.ajax({
        'url': '/mail?en_name=' + mail,
        'type': 'GET',
        cache: false,
        async: 'false',
        timeout: 30000,
        'dataType': 'text',
        success: function (text, st) {
            if (text == "1") {
                alert("send sucess")
            }
            else {
                alert("send 失败")
            }
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {

        }
    });
}

$("#previewAll").click( function(){
            previewMessage("",0);
        }
);

$(".push").click(function(){
    pushMessage($(this).attr("en_name"));
});

$("#setKeyContent").click( function(){
            keyName = prompt("填写关键字条目名称");
            key = prompt("填写关键字");
            keyContent = prompt("填写关键字回复内容");
        }
);

$("#setKeyAll").click( function(){
            setKeySingle("",0);
        }
);

$("#setGoodSoundIndex").click( function(){
            goodSoundIndex = prompt("设置好声音关键字，注意，此关键字为回复关键字，在设置好声音之前还要上传以此关键字为名的MP3文件");
            fileType = prompt("设置文件类型，好声音不用设置，图片设置为2");
        }
);

$("#setGoodSoundAll").click( function(){
            setGoodSound("",0);
        }
);

$(".setkey").click( function(){
            setKeySingle($(this).attr("en_name"));
        }
);

$(".setsound").click( function(){
            setGoodSound($(this).attr("en_name"));
        }
);

$(".deleteMessage").click(function(){
    alert($(this).attr("en_name"));
    deleteSchool($(this).attr("en_name"));
});

$("#deleteSingle").click(function(){
    deleteSingle();
});

$("#delSchoolMessage").click(function(){
    deleteOneSchoolMessage();
});

$("#deleteMulti").click(function(){
    deleteMulti();
});

$("#deleteAll").click(function(){
    deleteSchool("", 0);
});

var deleteIndex;
var deleteSchool;
var deleteDate;
var deleteOffset;

function deleteOneSchoolMessage(){
    $.ajax({
        'url':'/back/delOneSchoolMessage?school=whu',
        'type':'GET',
        'dataType':'text',
        success: function(text, st){
            alert(text);
        }
    });
}

function deleteMessage(deleteSchool, date, idx, offset){
    $.ajax({
        'url': '/back/delMessage?school='+deleteSchool+ "&idx=" + idx + "&date=" + date + "&begin=" + offset,
        cache: false,
        'type': 'GET',
        'dataType': 'text',
        success: function (text, st) {
            if (text=="success") {
                $("#" + deleteSchool + "_del_message").text("删除成功");
            }
            else{
                alert("失败" + deleteSchool);
            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#" + deleteSchool + "_del_message").text("删除中ing");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {

        }
    });
}

function deleteMulti(){
    deleteDate = prompt("此按钮为设置删除多条专用，并不真正删除文章。删除请点下面学校里的删除按钮。输入删除文章日期，如2015 1月1日需输入201511");
    deleteIndex = prompt("请输入欲删除文章所在条目位置，首图文为1");
    deleteOffset = prompt("输入删除文章偏移，如在近15天内发送输入0，如较早的日期需登录微信账号查找，如文章在第30页，则偏移为（30-1）*10=290");

}

function deleteSingle(){
    var school = prompt("请输入欲删除文章所在高校英文简称");

    var date = prompt("输入删除文章日期，如2015 1月1日需输入201511");

    var idx = prompt("请输入欲删除文章所在条目位置，首图文为1");
    
    var offset = prompt("输入删除文章偏移，如在近15天内发送输入0，如较早的日期需登录微信账号查找，如文章在第30页，则偏移为（30-1）*10=290");
    
    deleteMessage(school, date, idx, offset);
}

function deleteSchool(school, index){
    if(deleteIndex == undefined || deleteDate == undefined ||  deleteOffset == undefined){
        alert("请先设置删除多条消息");
        return;
    }

    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }

    if(document.getElementById(school_enname+"").innerHTML === "今日已上传"){
        if (index+1<array.length) {
            deleteSchool("",index+1);
        }
        return;
    }

    deleteMessage(school_enname, deleteDate, deleteIndex, deleteOffset);
}

var messageIndex = 2;
$("#openMessage").click( function(){
            if(messageIndex > $(".messageElement").size()){
                alert("no more message");
                return;
            }
           /* var a = document.createElement("a");
            a.href = $(".messageElement")[messageIndex].href;
            var evt = document.createEvent("MouseEvents");
    //the tenth parameter of initMouseEvent sets ctrl key
            evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0,
                                true, false, false, false, 0, null);
            a.dispatchEvent(evt);*/
            window.open($(".messageElement")[messageIndex].href, "_blank");
            messageIndex++;
        }
);

$("#uploadPic_Today").click( function(){
            var param = TodayFormat();
            var en_name = prompt("请设置上传账号英文名称（如人大为RUC）");
            uploadPicture(param, en_name);
        }
);
$("#uploadPic_YesToday").click( function(){
            var param = YesTodayFormat();
            var en_name = prompt("请设置上传账号英文名称（如人大为RUC）");
            uploadPicture(param, en_name);
        }
);
$("#chk_record").click(function(){

});

$("#region_id").change(function(){
    if($(this).val()=="0"){
        window.location.href="/back/schools";
    }else if($(this).val()=="-1"||$(this).val()=="1"){
        window.location.href="/back/schools?tag="+$(this).val();

    }else{
        window.location.href="/back/schools?region_code="+$(this).val();
    }

});


$("#admin_id").change(function(){

        window.location.href="/back/schools?admin="+$(this).val();

});

$("#getCommentSource").click(function(){
    var group=$("#belong_group").val();
   // group = prompt("获取素材的id，1为公共素材，5为缘分墙素材");
    articleNum = prompt("设置原始素材的条目数");
    console.log(group);
    $.ajax({
        'url': '/back/getSource?group='+group+'&articleNum='+articleNum+'',
        cache: false,
        'type': 'GET',
        'dataType': 'text',
        success: function (text, st) {
            if (text=="success") {
                $("#TodayResourceCount").val(2);
                $("#getCommentSource").text("原始素材获取成功");
            }
            else{
                alert("失败");
            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#getCommentSource").text("原始素材获取中ing");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {

        }
    });
});


$("#getTargetSource").click(function(){
    articleNum = prompt("设置素材的条目个数");

    var group=$("#belong_group").val();
    $.ajax({
        'url': '/back/getSource?group='+group+'&articleNum='+articleNum+'&isgetTarget=true',
        cache: false,
        'type': 'GET',
        'dataType': 'text',
        success: function (text, st) {
            if (text=="success") {
                $("#TodayResourceCount").val(2);
                $("#getTargetSource").text("目标模板获取成功");
            }
            else{
                alert("失败");
            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#getTargetSource").text("目标模板获取ing");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {

        }
    });
});

function previewMessage(school, index){
    var school_enname;
    /*if(previewId == undefined){
        alert("请先设置预览微信号，点击【设置预览微信ID】");
        return;
    }*/
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }

    if(document.getElementById(school_enname+"_preview").innerHTML === "预览成功"){
        if (index+1<array.length) {
            previewMessage("",index+1);
        }
        return;
    }
    $.ajax({
        'url': "/back/previewMessage?school_enname="+school_enname+"&preuser="+previewId+"&articleNum="+articleNum,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        success: function (json) {
            if(json){
                if (json.ret=="-20000") {
                    $("#"+school_enname+"_preview").text("服务器拒绝");
                    $("#"+school_enname+"_preview").addClass("btn-warning") .removeClass("btn-success")
                }
                else if(json.ret=="0"){
                    $("#"+school_enname+"_preview").text("预览成功");
                    $("#"+school_enname+"_preview").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }else{
                    $("#"+school_enname+"_preview").text("预览成功");
                    $("#"+school_enname+"_preview").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        previewMessage("",index+1);
                    }
                }

            }else{
                $("#"+school_enname+"_preview").text("预览失败");
                $("#"+school_enname+"_preview").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        previewMessage("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#"+school_enname+"_preview").text("预览中ing....");
            $("#yloading_"+school_enname+"").show();
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {
            $("#yloading_"+school_enname+"").hide();
        }
    });
}

function pushMessage(school, index){
    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }
    $.ajax({
        'url': "/back/pushMessage?school_enname="+school_enname+"&user="+school_enname,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        success: function (json) {
            if(json){
                if (json.ret=="-20000") {
                    $("#"+school_enname+"_push").text("服务器拒绝");
                    $("#"+school_enname+"_push").addClass("btn-warning") .removeClass("btn-success")
                }
                else if(json.ret=="0"){
                    pushindex++;
                    $("#info").text("推送成功"+pushindex);
                    $("#"+school_enname+"_push").text("推送成功");
                    $("#"+school_enname+"_push").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }else{
                    pushindex++;
                    $("#info").text("推送成功"+pushindex);
                    $("#"+school_enname+"_push").text("推送成功");
                    $("#"+school_enname+"_push").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        pushMessage("",index+1);
                    }
                }

            }else{
                $("#"+school_enname+"_push").text("推送失败");
                $("#"+school_enname+"_push").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        pushMessage("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#"+school_enname+"_push").text("发布中ing....");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        }
    });
}

function setKeySingle(school, index){
    if(key == undefined || keyContent == undefined || keyName == undefined){
        alert("请先设置关键字，点击【设置关键字】");
        return;
    }
    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }

    if(document.getElementById(school_enname+"_set_key").innerHTML === "设置成功"){
        if (index+1<array.length) {
            setKeySingle("",index+1);
        }
        return;
    }
    var uploadAddr = "/back/addKeyword?school_enname=" + school_enname + '&rulename=' + keyName + '&key=' + key + '&content=' + keyContent;

    $.ajax({
        'url': uploadAddr,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        success: function (json, st) {
            if(json){
                if (json.ret=="-20000") {
                    $("#"+school_enname+"_set_key").text("服务器拒绝");
                    $("#"+school_enname+"_set_key").addClass("btn-warning") .removeClass("btn-success")
                }
                else if(json.ret=="0"){
                    $("#"+school_enname+"_set_key").text("设置成功");
                    $("#"+school_enname+"_set_key").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }else{
                    $("#"+school_enname+"_set_key").text("设置失败");
                    $("#"+school_enname+"_set_key").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        setKeySingle("",index+1);
                    }
                }

            }else{

                $("#"+school_enname+"_set_key").text("设置失败");
                $("#"+school_enname+"_set_key").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        setKeySingle("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#"+school_enname+"_set_key").text("设置ing....");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        }
    });
}

function setGoodSound(school, index){
    if(goodSoundIndex == undefined){
        alert("请先设好声音关键字，点击【设置好声音编号】");
        return;
    }
    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }

    if(document.getElementById(school_enname+"_set_good_sound").innerHTML === "设置成功"){
        if (index+1<array.length) {
            setGoodSound("",index+1);
        }
        return;
    }
    var uploadAddr = "/back/addGoodSound?school_enname=" + school_enname + '&index=' + goodSoundIndex + '&type=' + fileType;

    $.ajax({
        'url': uploadAddr,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        timeout:30000,
        success: function (json, st) {
            if(json){
                if (json.ret=="-20000") {
                    $("#"+school_enname+"_set_good_sound").text("服务器拒绝");
                    $("#"+school_enname+"_set_good_sound").addClass("btn-warning") .removeClass("btn-success")
                }
                else if(json.ret=="0"){
                    $("#"+school_enname+"_set_good_sound").text("设置成功");
                    $("#"+school_enname+"_set_good_sound").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }else{
                    $("#"+school_enname+"_set_good_sound").text("设置失败");
                    $("#"+school_enname+"_set_good_sound").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        setGoodSound("",index+1);
                    }
                }

            }else{

                $("#"+school_enname+"_set_good_sound").text("设置失败");
                $("#"+school_enname+"_set_good_sound").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        setGoodSound("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#"+school_enname+"_set_good_sound").text("设置ing....");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        }
    });
}

function sendSingle(school,index){

    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }
//||document.getElementById(school_enname+"").innerHTML=="上传失败"
    if(school&&document.getElementById(school_enname+"").innerHTML === "今日已上传"){
        if (index+1<array.length) {
            sendSingle("",index+1);
        }
        return;
    }

    var uploadAddr = "/back/uploadSingle1?school_enname="+school_enname+"&user="+school_enname+"&group="+$("#belong_group").val() + "&article=" + articleNum;
    if(sourceUrlFlag){
        uploadAddr += "&flag=1";
    }
    $.ajax({
        'url': uploadAddr,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        timeout:30000,
        success: function (json, st) {
            if(json){
                if(school_enname){
                    if (json.ret=="-20000") {
                        $("#"+school_enname+"").text("服务器拒绝");
                        $("#"+school_enname+"").addClass("btn-warning") .removeClass("btn-success")
                    }
                    else if(json.ret=="0"){
                        $("#"+school_enname+"").text("今日已上传");
                        $("#"+school_enname+"").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                    }else{
                        $("#"+school_enname+"").text("上传失败");
                        $("#"+school_enname+"").addClass("btn-warning") .removeClass("btn-success")
                    }
                    if(typeof(index) !== 'undefined')
                    {
                        if (index+1<array.length) {
                            sendSingle("",index+1);
                        }
                    }
                }else{
                     if(json.ret=="0"){
                        $("#sendAll1").text("替换广告模板成功");
                    }else{
                         $("#sendAll1").text("替换广告模板失败");
                    }

                }


            }else{

                $("#"+school_enname+"").text("上传失败");
                $("#"+school_enname+"").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        sendSingle("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            if(school_enname){
            $("#"+school_enname+"").text("素材上传ing....");
            $("#loading_"+school_enname+"").show();
            }else{
                $("#sendAll1").text("替换广告模板替换ing");
            }
        },
        error: function (xhr) {
            $("#"+school_enname+"").text("上传异常");
            $("#"+school_enname+"").addClass("btn-warning") .removeClass("btn-success");
            if (index+1<array.length) {
                sendSingle("", index + 1);
            }
        },
        complete: function (xhr, textStatus) {
            $("#loading_"+school_enname+"").hide();
        }
    });
}



function uploadPicSingle(school,index){
    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }
    var uploadAddr = "/back/uploadPic?en_name=" + school_enname;
    if(document.getElementById("uploadPic_"+school_enname+"").innerHTML === "今日已上传"||document.getElementById("uploadPic_"+school_enname+"").innerHTML=="上传失败"){
        if (index+1<array.length) {
            uploadPicSingle("",index+1);
        }
        return;
    }
    $.ajax({
        'url': uploadAddr,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        timeout:300000,
        success: function (json, st) {
            if(json){
                if (json.success) {
                    $("#uploadPic_"+school_enname+"").text("今日已上传");
                    $("#uploadPic_"+school_enname+"").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }
               else{
                    $("#uploadPic_"+school_enname+"").text("上传失败");
                    $("#uploadPic_"+school_enname+"").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        uploadPicSingle("",index+1);
                    }
                }

            }else{

                $("#uploadPic_"+school_enname+"").text("上传失败");
                $("#uploadPic_"+school_enname+"").addClass("btn-warning") .removeClass("btn-success");
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        uploadPicSingle("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#uploadPic_"+school_enname+"").text("图片上传ing....");
            $("#loading_uploadPic_"+school_enname+"").show();
        },
        error: function (xhr) {
            $("#uploadPic_"+school_enname+"").text("上传失败");
            $("#uploadPic_"+school_enname+"").addClass("btn-warning") .removeClass("btn-success");
            if (index+1<array.length) {
                uploadPicSingle("",index+1);
            }
        },
        complete: function (xhr, textStatus) {
            $("#loading_uploadPic_"+school_enname+"").hide();
        }
    });
}

function uploadPicture(param, en_name){
    $.ajax({
        'url': "/back/uploadPic?en_name=" + en_name + "&folder=" + param,
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async: 'false',
        success: function (json, st) {

            if (json.success) {
                if (json.success) {
                    alert("图片上传成功");
                }
                else {
                    alert("图片上传失败");
                }


            } else {
                alert("图片上传失败，后台可能已死");
            }
        },

        beforeSend: function (xhr, textStatus) {
            $("#uploadPicture").text("图片上传ing....");
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {
            $("#uploadPicture").text("上传图片");
        }
    });
}

function updateRource_Single(school,index){
    var school_enname;
    if(typeof(index) !== 'undefined')
    {
        school_enname=array[index];
    }else{
        school_enname=school;
    }
    $.ajax({
        'url': "/back/school/update_source?en_name="+school_enname+"&update_last_edit="+$("#chk_record").parent().hasClass("checked")+"",
        'type': 'GET',
        'dataType': 'json',
        cache: false,
        async:'false',
        success: function (json, st) {

            if(json){
                if (json.success) {
                    $("#update_source_"+school_enname+"").text("今日已更新");
                    $("#update_source_"+school_enname+"").removeClass("btn-info").removeClass("btn-warning") .addClass("btn-success")
                }
                else{
                    $("#update_source_"+school_enname+"").text("更新失败");
                    $("#update_source_"+school_enname+"").addClass("btn-warning") .removeClass("btn-success")
                }
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        updateRource_Single("",index+1);
                    }
                }

            }else{

                $("#update_source_"+school_enname+"").text("更新失败");
                $("#update_source_"+school_enname+"").addClass("btn-warning") .removeClass("btn-success")
                if(typeof(index) !== 'undefined')
                {
                    if (index+1<array.length) {
                        updateRource_Single("",index+1);
                    }
                }

            }
        },
        beforeSend: function (xhr, textStatus) {
            $("#update_source_"+school_enname+"").text("素材上传ing....");
            $("#loading_update_source_"+school_enname+"").show();
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {
            $("#loading_update_source_"+school_enname+"").hide();
        }
    });
}


$(".addTag").click( function(){
            var school=$(this).attr("en_name")
            var thisbutton=$(this)
            $.ajax({
                'url': '/back/addTag?school='+school,
                'type': 'GET',
                cache: false,
                'dataType': 'text',
                success: function (text, st) {
                    if (text=="true") {
                        thisbutton.text("有广告");
                        thisbutton.addClass("btn-success") .removeClass("btn-info")
                    }
                    else{
                        alert("失败");
                    }
                },
                beforeSend: function (xhr, textStatus) {
                    thisbutton.text("......");
                },
                error: function (xhr) {
                    if (xhr.status != 403) {

                    }
                },
                complete: function (xhr, textStatus) {

                }
            });
        }
);



function checkResource(){
    $.ajax({
        'url': '/back/checkResource?group='+$("#belong_group").val(),
        'type': 'GET',
        cache: false,
        'dataType': 'text',
        success: function (text, st) {
            if (text=="true") {

            }
            else{
                alert("失败");
            }
        },
        beforeSend: function (xhr, textStatus) {
        },
        error: function (xhr) {
            if (xhr.status != 403) {

            }
        },
        complete: function (xhr, textStatus) {

        }
    });
}
function TodayFormat(){
    var today=new Date(); // 获取今天时间
    return today.getFullYear()+""+(today.getMonth()+1)+""+today.getDate();
}
function YesTodayFormat(){
    var today=new Date(); // 获取今天时间
    today.setDate(today.getDate() -1); // 系统会自动转换
    return today.getFullYear()+""+(today.getMonth()+1)+""+today.getDate();
}

var a = {};
function pricecount(enname,fans) {
    $("#price").show();
    if (enname in a){

    }else{

        if(enname=='bnu微生活'){
            fans=parseInt(fans) +3000;
        }
        a[enname]=getPrice(fans,"");
        if(Object.size(a)==1){
            $("#priceplus").append("<label style='display: inline-block;'>"+enname+"("+getPrice(fans,"")+")</label>");
        }else{
            $("#priceplus").append("<label style='display: inline-block;'>+"+enname+"("+getPrice(fans,"")+")</label>");
        }
    }

}

function countresult(){
    var result=0;
    var zhekou=0
    for(var v in a) {
       result=result+a[v];
        zhekou=zhekou+a[v];
    }
    if($("#zhekou").val().length>0){
        zhekou=zhekou*$("#zhekou").val();
        zhekou=Math.floor(zhekou);
    }
    $("#allprice").remove();
    $("#price").append("<label id='allprice' style='display: inline-block;'>  全价:"+result+"   折扣价:"+zhekou+"   提示:重算请刷</label>");

}

function getPrice(number,region){
    if(region=="010"){
        return  Math.floor(number*0.05);
    }
    return  Math.floor(number*0.05 );
}

Object.size = function(obj) {
    var size = 0, key;
    for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
    }
    return size;
};




</script>


